// src/views/slide-properties.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Slide Properties
    link(rel="stylesheet" href="/css/styles.css")
  body
    .main-container
      h1 Additional Properties
      a(href="/") Go to Home

      form(action="/slide-properties" method="POST")
        // Hidden input for imagePath
        input(type="hidden" name="imagePath" value=imagePath)

        // Hidden inputs for text content
        input(type="hidden" name="name" value=name)
        input(type="hidden" name="title" value=title)
        input(type="hidden" name="eventName" value=eventName)
        input(type="hidden" name="backgroundColor" value=backgroundColor)
        input(type="hidden" name="textColor" value=textColor)

        // Displaying non-editable data
        //- label(for="name")
        //- p #{name}

        //- label(for="title")
        //- p #{title}

        //- label(for="eventName")
        //- p #{eventName}

        //- label(for="backgroundColor") Background Color (Hex Code):
        //- p #{backgroundColor}

        //- label(for="textColor") Text Color (Hex Code):
        //- p #{textColor}

        // Editable checkboxes
        label
          input(type="checkbox" name="exportAsMp4")
          | Export as MP4

        label
          input(type="checkbox" name="animate")
          | Animate

        label
          input(type="checkbox" name="loop")
          | Loop

        label
          input(type="checkbox" name="includeLogo")
          | Include Logo

        button(type="submit" class="main-cta") See Preview
